{
  "extends": [
    "eslint:recommended",
    "standard",
    "standard-jsx",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["react-hooks", "import", "unicorn", "prefer-arrow", "jest"],
  "settings": {
    "react": {
      "version": "17.0.1"
    }
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "no-console": "error",
    "no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "_"
      }
    ],
    "no-useless-return": "error",
    "no-var": "error",
    "prefer-arrow/prefer-arrow-functions": [
      "error",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "unicorn/no-abusive-eslint-disable": "error"
  }
}
