{
    "hooks": {
        "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
        "pre-commit": "yarn eslint-check && yarn prettier-check",
        "pre-push": "yarn eslint-check && yarn prettier-check"
    }
}
